:root {
  --primary-color: #1F2937;
  --secondary-color: #E5E7EB;
  --white-text: #F9F9F8;
  --dark-text: #1F2937;
  --tertiary-color: #3882f6;
}

body {
  font-family: Robusto, Ariel, sans-serif;
}

/* === shared styling === */
.header, .header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header,
.panel--one,
.footer {
  background-color: var(--primary-color);
  color: var(--white-text);
}

/* === header === */
.header {
  justify-content: space-between;
  padding: 0 150px;
}

.header__links {
  gap: 10px;

  list-style-type: none;
}

/* === panel === */
.panel {
  display: flex;
  height: 300px;
  padding : 0 150px;
}

.panel--two, .panel--three, .panel--four {
  color: var(--primary-color);
}

/* === panel one === */
.panel--one {
  align-items: center;
  justify-content: space-between;
}

.title-container{
  display: flex;
  flex-direction: column;
  flex-basis: 350px;
}

.panel--one .panel__title {
  font-size: 48px;
  font-weight: 900;
}

.panel--one .panel__intro {
  font-size: 18px;
  color: #E5E7EB;
}

/* === panel three === */
.panel--three { 
  background-color: var(--secondary-color);
  font-size: 36px;
  font-weight: 300;
  
  justify-content: center;
  align-items: center;
}

.quote-container {
  display: flex;  
  flex-direction: column;
}

.panel__quote-author {
  font-size: 18px;
  align-self: flex-end;
}

.panel--four {
}

.footer {
  text-align: center;
}

button {
  width: fit-content;
  padding: 5px 10px;
  background-color: var(--tertiary-color);
  border: none;
  border-radius: 10px;
  color: var(--white-text)

}
