.header, .header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__links {
  gap: 10px;

  list-style-type: none;
}

.panel {
  height: 300px;
}

.panel--one {
  background-color: pink;
}

.panel--two {
  background-color: yellow;
}

.panel--three { 
  background-color: green;
}

.panel--four {
  background-color: cyan;
}

